body {
    background-color: gray;
    box-sizing: border-box;
    width: 95%;
    margin: 10px auto;
}


nav {
    height: 8vh;
    background-color: #4A90E2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 10px;
    font-family: cursive;
    margin-top: 30px;
}

li {
    list-style-type: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.btn {
    width: 100px;
    padding: 5px 0;
    font-size: 18px;
    font-family: cursive;
    border-radius: 5px;
    border: none;
    background-color: rgb(209, 206, 206);
    cursor: pointer;
}

section {
    height: 77vh;
    background-color: #F0F0F0;
    ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    font-size: 25px;
    font-weight: bold;
}


footer {
    height: 8vh;
    background-color: #4A90E2;
    padding: 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}